* {
  margin: 0;
  padding: 0;
}

.active {
  border-bottom: 1px solid black;
}

body {
  background: #fafafa;
}

header {
  width: 100vw;
}

header img {
  width: 100%;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: black;
  z-index: 99;
}

.link {
  color: white;
  text-decoration: none;
  padding: 3%;
  align-self: center;
}

.icon {
  font-size: 1.2rem;
  vertical-align: bottom;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropDownStyle {
  display: flex;
  align-content: center;
  justify-content: center;
}

#selectList {
  color: black;
  width: 40%;
  height: 34px;
  font: 1.7rem;
  border-radius: 16px 0 0 16px;
  border: 2px solid black;
  box-shadow: 4px 4px 8px #0096ff;
  padding: 0 1%;
}

.dropDownStyle button {
  margin-bottom: 5%;
  margin-left: -2px;
  border-radius: 0 16px 16px 0;
  border: 2px solid black;
  width: 20%;
  max-width: 25%;
  height: 34px;
  font-size: 1rem;
  color: black;
  box-shadow: 4px 4px 8px #0096ff;
  background: linear-gradient(to right, lightblue, pink, purple);
}

.searchStyle {
  margin-top: 5%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.searchbar {
  margin-bottom: 3%;
  width: 40%;
  height: 34px;
  font: 1.4rem;
  border-radius: 16px 0 0 16px;
  border: 2px solid black;
  box-shadow: 4px 4px 8px #0096ff;
  padding-left: 3%;
}

.searchStyle button {
  margin-bottom: 5%;
  margin-left: -5px;
  border-radius: 0 16px 16px 0;
  border: 2px solid black;
  width: 20%;
  max-width: 25%;
  height: 38px;
  font-size: 1rem;
  color: black;
  box-shadow: 4px 4px 8px #0096ff;
  background: linear-gradient(to right, lightblue, pink, purple);
}

.container {
  margin-bottom: 35%;
}

.card {
  width: 70%;
  max-width: 600px;
  border: 1px solid black;
  border-radius: 16px;
  margin-top: 3%;
  background: linear-gradient(to bottom right, lightblue, pink, purple);
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 8px;
  margin: 0 auto;
  margin-bottom: 7%;
}

.card img {
  margin-top: 5%;
  margin-left: 50%;
  margin-bottom: 3%;
  transform: translateX(-50%);
  width: 85%;
  height: 300px;
}

.card h2 {
  text-align: center;
  margin-top: 1%;
}

.card hr {
  width: 95%;
  margin: 0 auto;
  height: 1px;
  background-color: black;
  border: none;
}

.card h3 {
  margin-top: 5%;
}

ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  align-content: center;
}

.top {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

li {
  margin: 1% 2%;
}

.card h3 {
  align-self: center;
}

.card p {
  margin: 0 5% 5% 5%;
}

.whereToWatch {
  margin: 2% 1%;
}

.whereToWatchList {
  display: flex;
  flex-wrap: wrap;
}

.whereToBuy {
  margin: 2% 1%;
}

.whereToBuyList {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  background: white;
  border-radius: 16px;
  padding: 1% 2%;
  font-size: 0.8rem;
}

/* Home page */

.App h3 {
  margin-top: 3%;
}

.dayWeek {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.dayWeek button {
  background: none;
  outline: none;
  border: none;
  padding: 10% 25%;
  font-size: 1.2rem;
  color: gray;
}

.dayWeek button:hover {
  cursor: pointer;
}

.dayWeek .right {
  border-right: 1px solid gray;
}

.trendingList {
  margin-bottom: 10%;
}

.trendingList h1 {
  text-align: center;
  padding-bottom: 3%;
}

.trendingCard {
  margin: 0 auto;
  width: 70%;
  max-width: 600px;
  border: 1px solid black;
  border-radius: 16px;
  margin-top: 3%;
  background: linear-gradient(to bottom right, lightblue, pink, purple);
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 8px black;
  margin-bottom: 7%;
}

/* Movie page */

.movieContainer {
  margin-bottom: 35%;
}

.movie h2 {
  text-align: center;
  margin-bottom: 5%;
}

.showBtns {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 5%;
}

.showBtns input {
  margin: 2%;
  padding: 2%;
  border-radius: 24px;
}

.showBtns button {
  background: none;
  outline: none;
  border: none;
  padding: 5%;
  font-size: 1.2rem;
  color: gray;
}

.showBtns .right {
  border-right: 1px solid gray;
}

/* Tv page */

.tv h2 {
  text-align: center;
  margin-bottom: 5%;
}

@media screen and (max-width: 500px) {

  .navbar {
    padding-bottom: 25px;
  }

  .dropDownStyle button {
    font-size: .9rem;
  }

  .searchStyle button {
    font-size: 1rem;
  }
   
  .card {
    width: 90%;
  }

  .card img {
    width: 100%;
    margin-top: 0;
    border-radius: 16px 16px 0 0;
  }

  .card hr {
    display: none;
  }

  /* Trending page */

  .trendingList {
    margin-bottom: 20%;
  }
  
}

